<aside class="side-navbar  align-start padding1">

    <nav class="main-nav row-flex flex-col gap1">
        <div class="centered-logo row-flex center-flex">
            <img src="../images/logo.png" alt="Bahria University" class="logo">
            <h1 class="color-white logo-heading">Bahria University</h1>
        </div>
        <ul class="side-list wh100">
            
        </ul>
    </nav>

</aside>

<header class="right-side-content row-flex center-flex">
    <div class="bars-container padding-inline1">
        <button><i class="fa fa-bars color-white"></i></button>
    </div> 
         
    <aside class="side-main-heading row-flex  wh100 gap1 space-ar align-center">

        <div class="time" id="time">
                <div id="hour">00</div>
                <div id="minutes" >00</div>
                <div id="seconds" >00</div>
                <!--<div id="am-pm"></div>-->
        </div>
      
        <div class="lms-heading row-flex">
            <h1>Learning Management System</h1>
        </div>
        
        <div class="notifications">
            <i class="fa fa-bell"></i>
        </div>

        <div class="account-details row-flex gap1">
            <i class="fa fa-user"></i>
            <h3><!-- username--></h3>
        </div>
    </aside>
</header>